#saidaestoque{
  .cabecalho-secao{
    position: relative;
    .link-inicial-container, 
    .link-ultimas-container{
      align-self: center;
      position: absolute;
      .link-inicial,.link-ultimas{
        background: #53CC7D;
        color: #fff;
        text-decoration: none;
        padding: 5px 10px;
        border-radius: 5px;
        display: flex;
        &:hover{
          background: darken(#53CC7D, 5%);
        }
      }
    }
    .link-ultimas-container{
      right: 0 !important;
    }
    h1{
      text-align: center;
      color: #2b2e83;
      margin: 35px 0;
      font-weight: bold;
    }
  }

  .cabecalho-entrada-saida{
    .info-geral{
      p{
        color: #2b2e83;
        font-weight: normal;
        font-size: 20px;
        span{
          font-weight: bold;
          color: #53CC7D;
        }
        margin-bottom: 0;
      }
    }
  }
  .tableEstoque{
    margin: 35px 0;
    width: 100%;
    thead{
      tr{
        th{
          &:first-child{
            width: 70%;
          }
          text-align: center;
        }
      }
    }
    tbody{
      tr{
        td{
          border: 1px solid #2b2e83;
          input{
            border: none;
            text-align: center;
            width: 100%;
          }
          text-align: center;
        }
      }
    }
  }
}

.btn-adicionar{
  width: 150px;
  height: 50px;
  border: none;
  background:#2b2e83;
  color: white;
  border-radius: 15px;
  cursor: pointer;
}